*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width: 100%;
    background-color: white;
    font-family: 'Abril Fatface', cursive; 
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
}

.menu{
    display: flex;
    color: white;
}

.menu li{
    margin-left: 10px;
    list-style: none;
}

.menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu li a:hover{
    text-decoration: underline;
}

.menu li a span{
    background-color: tomato;
    padding: 10px;
    cursor:pointer;
}

main{
    width: 80%;
    margin: 0 auto;
}

main h1{
    background-image: linear-gradient( white,black);
    text-shadow:2px 2px 2px white;
    padding: 5px;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.container_item{
    background-color:black;
    border: 3px solid gold;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    flex: 1 1 300;
    flex-direction: column;

}

.flex{
    display: flex;
    border-bottom: 1px solid gold;
    margin:5px;
}

.container_item p{
    color: rgb(151, 150, 150);
}

.flex h3{
    color:red;
}

.flex h3 span{
    margin-left:10px;
    color: #ccc;
}

.socket{
    display: flex;
    margin-left:10px;
}

.socket p{
    margin-left:10px;
    color:rgb(114, 114, 114);
}

.stats{
    margin-top:30px;
}

.stats p{
    color:rgb(2, 100, 124);
}

.stats_required{
    margin-top:30px;
}

.item_detail p{
    color: green;
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-end;
}





